/* .footer {
  background-color: rgb(18, 18, 18);

  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
  padding-top: 64px;
  padding-bottom: 40px;
  padding-right: 40px;
  padding-left: 40px;
 
}

.footer_main svg {
  width: 180px;
  height: 32px;
}

.footer_main_content_1 {
} */
